* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
       
}

body {
    -webkit-font-smoothing: antialiased
}

.noScroll {
    overflow: hidden;
}

body, input, button, textarea, link {
    font-family: 'Poppins', sans-serif;
}

input {
    background-color: white !important;
}